.pagination {
    display: flex;
    align-items: center;
}

.pagination button {
    min-width: 36px;
    padding: 0;
}

.paginationText {
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 3px 1px 3px;
    border: 1px solid transparent;
    cursor: default;
    font-size: 80%;
}